body {
  margin: 0px;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

button,
input[type=button],
input[type=submit] {
  padding: 12px 29px;
  margin: 10px;
  color: white;
  fill: white;
  border: none;
  border-radius: 5px;
  background-color: #6788ed;
  transition: background-color 350ms ease-in-out;
}
button:hover, button:focus,
input[type=button]:hover,
input[type=button]:focus,
input[type=submit]:hover,
input[type=submit]:focus {
  background-color: black;
  cursor: pointer;
}

.swal-button {
  background-color: #6788ed;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
}
#loader div {
  width: 70px;
  height: 70px;
  z-index: 1000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #6788ed;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.head {
  background: linear-gradient(134deg, #86B0FF 0%, #4961DC 99%);
  height: 100vh;
  position: relative;
}

.head-title {
  position: absolute;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-size: 55px;
  -webkit-animation: fade-in 700ms ease-in;
          animation: fade-in 700ms ease-in;
}
.head-title * {
  margin: 0;
}
.head-title h1 {
  font-weight: 300;
}
.head-title h3 {
  font-weight: 100;
}
.head-title a {
  text-decoration: none;
  color: white;
}
.head-title a:hover {
  cursor: default;
}

.typewrite {
  pointer-events: none;
}

.typewrite > .wrap {
  border-right: 0.08em solid #fff;
}

.waves {
  display: block;
  margin-top: 60px;
  width: 100%;
  height: 60px;
  z-index: 5;
  position: absolute;
  bottom: 0;
  top: auto;
}

.wave1 use {
  fill: rgba(255, 255, 255, 0.1);
  -webkit-animation: move-forever1 10s linear infinite;
          animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.wave2 use {
  fill: rgba(255, 255, 255, 0.2);
  -webkit-animation: move-forever2 8s linear infinite;
          animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.wave3 use {
  fill: #fff;
  -webkit-animation: move-forever3 6s linear infinite;
          animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.scroll-indicator {
  position: absolute;
  border: solid white;
  border-width: 0px 3.5px 3.5px 0;
  border-bottom-right-radius: 3.5px;
  width: 20px;
  height: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 50px;
  transform: rotate(45deg);
  -webkit-animation: scrollIndicator 2s ease-in-out infinite;
          animation: scrollIndicator 2s ease-in-out infinite;
}
.scroll-indicator::before, .scroll-indicator::after {
  content: "";
  position: absolute;
  width: 3.5px;
  height: 3.5px;
  background: white;
  border-radius: 50%;
}
.scroll-indicator::before {
  top: -1.75px;
  right: 0;
  transform: translateX(100%);
}
.scroll-indicator::after {
  left: -1.75px;
  bottom: 0;
  transform: translateY(100%);
}

#navbar {
  z-index: 1000;
  height: 60px;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
  overflow: hidden;
  background-color: white;
}

.navwrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}
.navwrapper a {
  color: rgb(91, 116, 241);
  text-decoration: none;
}
.navwrapper a::after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  background-color: transparent;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.navwrapper a:hover::after, .navwrapper a:focus::after {
  width: 100%;
  background-color: rgb(91, 116, 241);
}

.navitems {
  list-style: none;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  padding: 0px;
  font-size: 14px;
  line-height: 150%;
}
.navitems li {
  margin-left: 30px;
  display: inline-block;
  text-align: center;
}

#navY {
  visibility: hidden;
  height: 0px;
  display: block;
}

.logo {
  margin: auto 0;
  margin-right: auto;
}
.logo:hover {
  cursor: pointer;
}

#nav-hamburger {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  flex-direction: column;
  align-items: center;
  z-index: 10000;
  height: 100%;
  transition: opacity 350ms ease-in-out;
}

#hamburger-items {
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: absolute;
  top: 40px;
  text-align: right;
  right: 10px;
  transition: opacity 500ms ease-in-out;
}
#hamburger-items a {
  opacity: 0;
  color: white;
  text-decoration: none;
  padding-bottom: 10px;
  font-size: 20px;
  transition: opacity 300ms ease-in-out 100ms;
}
#hamburger-items a::after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  background-color: transparent;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
#hamburger-items a:hover::after, #hamburger-items a:focus::after {
  width: 100%;
  background-color: white;
}
#hamburger-items li {
  z-index: 10000;
}
#hamburger-items:hover {
  opacity: 1;
}
#hamburger-items::before {
  content: "";
  width: 0px;
  height: 100vh;
  position: fixed;
  background-color: rgb(91, 116, 241);
  top: 0;
  right: 0;
  transition: width 500ms ease-in-out;
}
#hamburger-items.hamburger-showing a {
  opacity: 1;
}
#hamburger-items.hamburger-showing::before {
  width: 100vw;
  -webkit-animation: grow-width 500ms ease-in-out;
          animation: grow-width 500ms ease-in-out;
}

.hamburger-box {
  width: 50px;
  height: 50px;
  background-color: rgba(86, 110, 230, 0.3);
  border-radius: 100%;
  position: relative;
}
.hamburger-box:hover {
  cursor: pointer;
}
.hamburger-box:hover #hamburger-inner, .hamburger-box:hover #hamburger-inner::before, .hamburger-box:hover #hamburger-inner::after {
  opacity: 0.7;
}

#hamburger-inner {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#hamburger-inner, #hamburger-inner::before, #hamburger-inner::after {
  z-index: 1000;
  width: 29px;
  height: 4px;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 400ms ease-in-out;
  position: absolute;
  background-color: white;
}
#hamburger-inner::before, #hamburger-inner::after {
  content: "";
  display: block;
}
#hamburger-inner::before {
  top: 10px;
  transition: top 0.12s ease-in-out;
}
#hamburger-inner::after {
  top: -10px;
  transition: top 0.12s ease-in-out;
}
#hamburger-inner.hamburger-clicked::after, #hamburger-inner.hamburger-clicked::before {
  top: 0px;
}
#hamburger-inner:hover, #hamburger-inner:hover::after, #hamburger-inner:hover::before, #hamburger-inner:focus, #hamburger-inner:focus::after, #hamburger-inner:focus::before {
  opacity: 0.7;
}

@media (max-width: 800px) {
  #navbar,
#navitems {
    display: none;
  }
  #navY {
    height: 60px !important;
  }
  #nav-hamburger {
    display: flex;
  }
}
.content-section {
  width: 100%;
  position: relative;
  margin-bottom: 100px;
  margin-top: 125px;
  color: #383838;
}

.title {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 35px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(35, 51, 131);
  font-weight: 100;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  bottom: -4.5px;
  right: 0px;
  background-color: #86B0FF;
  border-radius: 5px;
  transition: width 400ms ease-in-out;
}
.title:hover {
  cursor: default;
}
.title:hover::after {
  width: 100%;
}

.about-content {
  width: 80vw;
  padding-top: 50px;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  gap: 155px;
}

@media (max-width: 450px) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }
  .about-description {
    text-align: center;
  }
}
.about-avatar {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 0.5px solid #b6b6b6;
  box-shadow: 10px 10px 9px -10px rgba(0, 0, 0, 0.39);
}

.about-description {
  font-size: 20px;
  font-weight: 100;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}

.social-links {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
}
.social-links a {
  margin: 10px;
  margin-top: 0px;
  width: 24px;
  height: 24px;
}
.social-links a svg {
  color: #6788ed;
  fill: #6788ed;
  transition: color 400ms ease-in-out, fill 400ms ease-in-out;
}
.social-links a:hover svg, .social-links a:focus svg {
  cursor: pointer;
  color: black;
  fill: black;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skill-card {
  margin: 10px;
  width: 200px;
  height: 200px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(248, 248, 248);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-radius: 10px;
  transition: transform 400ms ease-in-out;
}
.skill-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.skill-icon {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: #6788ed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-icon svg {
  width: 50px;
  height: 50px;
  fill: white;
}

.skill-title {
  color: rgb(35, 51, 131);
  font-weight: 400;
}

#projects {
  background-color: #6788ed;
  padding-bottom: 30px;
}
#projects h1.title {
  color: white;
  padding-top: 20px;
}
#projects h1.title::after {
  background-color: #a6c9ff;
}

.projects {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: nowrap;
  flex-grow: unset;
  flex-shrink: unset;
}

.swiper {
  width: 100%;
  height: 350px;
}

.swiper-slide {
  width: 600px !important;
  filter: blur(5px);
}

.swiper-slide-visible {
  filter: blur(0px) !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 35px !important;
  color: rgb(59, 74, 153);
}

.swiper-button-next {
  right: -2px !important;
}

.swiper-button-prev {
  left: -2px !important;
}

.project-card {
  padding: 15px;
  background-color: rgb(248, 248, 248);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-radius: 13px;
  display: flex;
}

.project-content {
  display: block;
  position: relative;
}

.project-title {
  font-size: 25px;
  font-weight: 600;
  color: #3e54c0;
}

.project-description a {
  color: #233383;
  text-decoration: none;
}

.project-github {
  width: 24px;
  height: 24px;
  color: rgb(91, 116, 241);
  fill: rgb(91, 116, 241);
  bottom: 0;
  position: absolute;
  transition: color 400ms ease-in-out, fill 400ms ease-in-out;
}
.project-github:hover {
  color: black;
  fill: black;
}

.contact-card {
  width: 85%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  background-color: rgb(248, 248, 248);
  padding: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

#contact-form {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "email name" "textarea textarea" "button button";
  position: relative;
}
#contact-form button {
  grid-area: button;
}

@media (max-width: 530px) {
  #contact-form {
    grid-template-areas: "email email" "name name" "textarea textarea" "button button";
  }
}
.contact-email {
  grid-area: email;
}

.contact-name {
  grid-area: name;
}

.contact-message {
  grid-area: textarea;
}
.contact-message textarea {
  height: 200px;
  overflow: auto;
  resize: none;
}

.contact-texts {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgb(234, 234, 234);
  border: medium none;
  margin: 10px 0px;
  width: 100%;
}

footer {
  width: 100vw;
  height: 65px;
  padding: 10px;
  position: relative;
  background-color: #5a7de9;
}
footer div {
  margin: 0 auto;
  width: 80%;
  display: block;
}
footer div p {
  font-size: 15px;
  color: white;
}

#toTop {
  position: absolute;
  display: block;
  opacity: 1;
  bottom: 20px;
  border: solid white;
  border-width: 0px 3.5px 3.5px 0;
  border-bottom-right-radius: 3.5px;
  width: 15px;
  height: 15px;
  transform: rotate(-135deg);
  transition: opacity 400ms ease-in-out;
}
#toTop:hover, #toTop:hover::before, #toTop:hover::after, #toTop:focus, #toTop:focus::before, #toTop:focus::after {
  opacity: 0.7;
  cursor: pointer;
}
#toTop::before, #toTop::after {
  content: "";
  position: absolute;
  width: 3.5px;
  height: 3.5px;
  background: white;
  border-radius: 50%;
}
#toTop::before {
  top: -1.75px;
  right: 0;
  transform: translateX(100%);
}
#toTop::after {
  left: -1.75px;
  bottom: 0;
  transform: translateY(100%);
}

#darkmode svg {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px;
  fill: rgb(91, 116, 241);
  transform: scaleX(-1);
}
#darkmode svg:hover {
  cursor: pointer;
  fill: black;
}
#darkmode::after, #darkmode::before {
  display: none;
}
#darkmode.darkmodeactive svg {
  fill: rgb(91, 116, 241);
  transform: scaleX(1);
}
#darkmode.darkmodeactive svg:hover {
  fill: rgb(223, 228, 251);
}

.bodydark {
  background: black;
  background-color: black;
  color: white;
}

.darktitle {
  color: rgb(217, 229, 247);
}

.darkwaves .wave1 use {
  fill: rgba(30, 30, 30, 0.1);
}
.darkwaves .wave2 use {
  fill: rgba(30, 30, 30, 0.2);
}
.darkwaves .wave3 use {
  fill: rgb(30, 30, 30);
}

.darknavbar {
  background-color: rgb(30, 30, 30) !important;
}

.darkheadtitle {
  color: black;
}
.darkheadtitle a {
  color: black;
}
.darkheadtitle .typewrite > .wrap {
  border-right: 0.08em solid rgb(31, 31, 31);
}

.dark-scroll-indicate {
  border: solid black;
  border-width: 0px 3.5px 3.5px 0;
}
.dark-scroll-indicate::before, .dark-scroll-indicate::after {
  background-color: black;
}

.dark-social-links a:hover svg {
  color: rgb(231, 236, 245);
  fill: rgb(231, 236, 245);
}

.dark-card {
  background-color: rgb(39, 39, 39) !important;
  color: rgb(196, 201, 230);
}

.dark-description {
  color: rgb(196, 201, 230);
}

.dark-hyperlink a {
  color: #94a6ff;
  text-decoration: none;
}

.dark-icon {
  background-color: #6685e1;
}
.dark-icon svg {
  fill: rgb(39, 39, 39);
}

.dark-section {
  background-color: #6685e1 !important;
}

.dark-input {
  background-color: rgb(72, 72, 72);
  color: rgb(231, 236, 245);
}
.dark-input::-moz-placeholder {
  color: rgb(213, 217, 224);
}
.dark-input:-ms-input-placeholder {
  color: rgb(213, 217, 224);
}
.dark-input::placeholder {
  color: rgb(213, 217, 224);
}
.dark-input:-ms-input-placeholder {
  color: rgb(213, 217, 224);
}
.dark-input::-ms-input-placeholder {
  color: rgb(213, 217, 224);
}

.dark-button {
  background-color: #6788ed;
  transition: background-color 350ms ease-in-out, color 350ms ease-in-out;
}
.dark-button:hover {
  background-color: #bcc6e5;
  color: black;
}

.dark-footer {
  background-color: #333;
}

@-webkit-keyframes scrollIndicator {
  0% {
    transform: translate(0, -40px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(45deg);
    opacity: 0;
  }
}

@keyframes scrollIndicator {
  0% {
    transform: translate(0, -40px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(45deg);
    opacity: 0;
  }
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes grow-width {
  0% {
    width: 0px;
  }
  100% {
    width: 100vw;
  }
}
@keyframes grow-width {
  0% {
    width: 0px;
  }
  100% {
    width: 100vw;
  }
}/*# sourceMappingURL=style.css.map */